<section class="p-6 sm:p-10 space-y-6">
    <div class="flex flex-col space-y-6 md:space-y-0 justify-between">
        <p class="text-4xl font-semibold mb-2">Dashboard</p>
        <p class="text-gray-600 ml-0.5">Everything you need to stay fit</p>
    </div>
    <section class="grid lg:grid-cols-2 lg:gap-6">
        <!-- Profil Information -->
        <mat-card class="!rounded-lg !shadow mt-5 p-4">
            <div class="flex justify-between items-center">
                <p class="font-bold text-base !m-0">Profil Information</p>
                <a routerLink="/user/profil"
                    class="flex justify-center items-center border-2 border-rose-500 text-center p-2 rounded-md hover:text-white hover:bg-rose-500 transition-all ease-in-out duration-500">
                    View more</a>
            </div>
            <div class="flex justify-start items-center space-x-5 mt-3">
                <div class="flex justify-center items-center rounded-full shadow-lg p-2 w-16 h-16 mb-4 z-50">
                    <div class="flex justify-center items-center rounded-full w-14 h-14 z-50">
                        <img class="rounded-full" src="../../../assets/profil.jpg" alt="" />
                    </div>
                </div>
                <div class="">
                    <p class='font-bold text-lg !mb-0'>{{user.name}}<span *ngIf="user.age !== 0">, {{user.age}}</span>
                    </p>
                    <p class='font-normal text-md !mb-1'>{{user.email}}</p>
                    <span class="tracking-tight truncate font-light mr-3">Height : {{user.height ? user.height + ' cm' :
                        'Not yet'}}<span class="font-semibold"></span></span>
                    <span class="tracking-tight truncate font-light">Weight : {{user.weight ? user.weight + ' kg' :
                        'Not yet'}}<span class="font-semibold"></span></span>
                </div>
            </div>
        </mat-card>
        <!-- 30 days weight loss challenge -->
        <mat-card class="!rounded-lg !shadow mt-5 p-4">
            <div>
                <p class="font-bold text-base !mb-0">30 days weight loss challenge</p>
            </div>
            <div class="grid md:grid-cols-2 md:gap-1 justify-items-start items-center">
                <mat-card class="!bg-rose-400 !text-white !rounded-lg !shadow mt-5 !w-full">
                    <mat-card-header>
                        <div mat-card-avatar
                            class="example-header-image flex justify-center items-center rounded-full border-2 border-white !p-0.5">
                            <mat-icon>arrow_downward</mat-icon>
                        </div>
                        <mat-card-title class="!font-medium !text-sm">Current weight</mat-card-title>
                        <mat-card-subtitle class="!font-light !text-sm !text-white">{{user.weight ? user.weight + ' kg' :
                            'Not yet'}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card class="!bg-rose-400 !text-white !rounded-lg !shadow mt-2 md:mt-5 !w-full">
                    <mat-card-header>
                        <div mat-card-avatar
                            class="example-header-image flex justify-center items-center rounded-full border-2 border-white !p-0.5">
                            <mat-icon>arrow_forward</mat-icon>
                        </div>
                        <mat-card-title class="!font-medium !text-sm">Target weight</mat-card-title>
                        <mat-card-subtitle class="!font-light !text-sm !text-white">{{user.targetWeight ?
                            user.targetWeight + ' kg' : 'Not yet'}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </mat-card>
    </section>
    <section class="grid md:grid-cols-2 lg:gap-6">
        <!-- Exercises -->
        <mat-card class="md:col-span-2 md:row-span-2 !rounded-lg !shadow mt-5 p-4">
            <div class="flex justify-between items-center">
                <p class="font-bold text-base !mb-0">Today exercises</p>
                <a routerLink="/user/exercises"
                    class="flex justify-center items-center border-2 border-rose-500 text-center p-2 rounded-md hover:text-white hover:bg-rose-500 transition-all ease-in-out duration-500">
                    View more</a>
            </div>
            <div class="grid lg:grid-cols-2 gap-x-6">
                <ng-container *ngFor="let exercise of exercises">
                    <mg-exercise-card [exercise]="exercise"></mg-exercise-card>
                </ng-container>
            </div>
        </mat-card>
        <!-- Open Gyms -->
        <mat-card class="md:col-span-2 md:row-span-2 !rounded-lg !shadow mt-5 p-4">
            <div class="flex justify-between items-center">
                <p class="font-bold text-base !mb-0">Open Gyms</p>
                <a routerLink="/user/gyms"
                    class="flex justify-center items-center border-2 border-rose-500 text-center p-2 rounded-md hover:text-white hover:bg-rose-500 transition-all ease-in-out duration-500">
                    View more</a>
            </div>
            <div class="grid lg:grid-cols-2 gap-x-6">
                <ng-container *ngFor="let gym of openGyms">
                    <mg-gym-card [gym]="gym"></mg-gym-card>
                </ng-container>
            </div>
        </mat-card>
    </section>
</section>